@font-face {
  
}

@font-face {
  font-family: 'CircularSpotifyTxT';
  font-weight: 300;
  src: url('../../fonts/CircularSpotifyTxT-Light.woff2') format('woff2'),
       url('../../fonts/CircularSpotifyTxT-Light.woff') format('woff'),
}

@font-face {
  font-family: 'CircularSpotifyTxT';
  font-weight: 400;
  src: url('../../fonts/CircularSpotifyTxT-Book.woff2') format('woff2'),
       url('../../fonts/CircularSpotifyTxT-Book.woff') format('woff'),
}

@font-face {
  font-family: 'CircularSpotifyTxT';
  font-weight: 500;
  src: url('../../fonts/CircularSpotifyTxT-Med.woff2') format('woff2'),
       url('../../fonts/CircularSpotifyTxT-Med.woff') format('woff'),
}

@font-face {
  font-family: 'CircularSpotifyTxT';
  font-weight: 700;
  src: url('../../fonts/CircularSpotifyTxT-Bold.woff2') format('woff2'),
       url('../../fonts/CircularSpotifyTxT-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'CircularSpotifyTxT';
  font-weight: 900;
  src: url('../../fonts/CircularSpotifyTxT-Black.woff2') format('woff2'),
       url('../../fonts/CircularSpotifyTxT-Black.woff') format('woff'),
}

:root {
  --color-header-bg: #000000E6;
  --color-header-text: #fff;
  --color-header-link: #fff;
  --color-header-link-hover: #ccc;

  --color-content-bg: #000;
  --color-content-title: #fff;
  --color-content-text: #fff;
  --color-content-border: #fff;
  --color-content-primary: #FF0000;
  
  --color-alt-content-bg: #fff;
  --color-alt-content-title: #FF0000;
  --color-alt-content-text: #5A5A5A;

  --color-footer-bg: #121212;
  --color-footer-text: #fff;
}

html {
  font-family: 'CircularSpotifyTxT';
  font-weight: 900;
}

body {
  background-color: var(--color-content-bg);
}

h1 {
  line-height: 1; 
  font-size: clamp(2rem, 6vw, 6.25rem);
  font-weight: 900;
}

h2 { 
  font-size: clamp(2rem, 3vw, 2.5rem);
  font-weight: 900;
}

h3 { 
  line-height: 1; 
  font-size: clamp(1.125rem, 2vw, 1.875rem);
}

p, span, a, button {
  font-size: clamp(1rem, 2vw, 1,125rem);
}

p {
  line-height: 1.5;
  font-weight: 500;
}

.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  padding: 42px 20px;
}

